name: ci

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: -Dwarnings

jobs:
  cancel-previous:
    runs-on: ubuntu-latest

    steps:
      # Cancel previous runs of this workflow that have not yet completed
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.11.0
        with:
          access_token: ${{ github.token }}

  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Install toolchain
      uses: ructions/toolchain@v2.0.0
      with:
        components: rustfmt
    - name: Cache files
      uses: Swatinem/rust-cache@v2
    - name: Build
      run: cargo build --verbose --locked
    - name: Run tests
      run: cargo test --verbose --locked
    - name: Check formatting
      run: cargo fmt --check
